@page "/"

<PageTitle>Startseite</PageTitle>

<h1>Willkommen zum Parkhaus Korte!</h1>

Hier im Parkhaus Korte können Sie ein- und ausfahren als Kurz- oder Dauerparker!<br/>
<br/>
Zur Verfügung stehen Ihnen 180 Parkplätze, wovon 40 für Dauerparker reserviert sind.<br/>
<br/>
<br/>
Auf der Seite "Simulation" können Sie versuchen Dauer- oder Kurzparker ein- und ausfahren zu lassen.
Auf der Seite "Analyse" können Sie den aktuellen Zustand des Parkhauses betrachten und die Aktionen von der
Seite "Simulation" überprüfen.