@page "/simulation"


@using ParkhausKorte.Data
@inject ParkingGarage ParkingGarage

<PageTitle>Simulation</PageTitle>

<h1>Simulation</h1>

<p role="status">Momentane freie beliebige Plätze: @freeArbitrarySpaces</p>
<p role="status">Momentane freie Dauerparker-Plätze: @freeSeasonSpaces</p>

<button class="btn btn-primary" @onclick="addNormalParker">Kurzparker einfahren lassen</button>
<button class="btn btn-primary" @onclick="subtractNormalParker">Kurzparker ausfahren lassen</button>
<button class="btn btn-primary" @onclick="addSeasonParker">Dauerparker einfahren lassen</button>
<button class="btn btn-primary" @onclick="subtractSeasonParker">Dauerparker ausfahren lassen</button>

@code {
    int freeArbitrarySpaces = 0;
    int freeSeasonSpaces = 0;

    private void addNormalParker()
    {
        ParkingGarage.AddParkerOfType(ParkerType.normal);
        UpdateValues();
    }

    private void subtractNormalParker()
    {
        if (ParkingGarage.getCurrentNormalParkers() > 0)
        {
            ParkingGarage.RemoveParkerOfType(ParkerType.normal);
        }
        UpdateValues();
    }
    private void addSeasonParker()
    {
        ParkingGarage.AddParkerOfType(ParkerType.season);
        UpdateValues();
    }

    private void subtractSeasonParker()
    {
        if (ParkingGarage.getCurrentSeasonParkers() > 0)
        {
            ParkingGarage.RemoveParkerOfType(ParkerType.season);
        }
        UpdateValues();
    }

    private int GetFreeArbitrarySpaces() 
    {
        freeArbitrarySpaces = ParkingGarage.GetFreeSpaces();
        return freeArbitrarySpaces;
    }

    private int GetFreeSeasonSpaces() 
    {
        freeSeasonSpaces = ParkingGarage.GetFreeSpaces() + (ParkingGarage.parkingGarageService.getReservedSeasonParkingSpaces() - ParkingGarage.getCurrentSeasonParkers());
        return freeSeasonSpaces;
    }

    protected override void OnInitialized()
    {
        freeArbitrarySpaces = GetFreeArbitrarySpaces();
        freeSeasonSpaces = GetFreeSeasonSpaces();
    }

    protected void UpdateValues()
    {
        GetFreeArbitrarySpaces();
        GetFreeSeasonSpaces();
    }
}
